/* div.css-1r6slb0.e1tzin5v2{
    background-color: #141313;
    padding : 20px 30px 20px 70px;
    border: 2px solid #fc3232;
    border-radius: 10px;
    
} */

span.css-10trblm.e16nr0p30{
    color: #FFFFFF;
    text-align: center;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}